@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --app-theme-bg: #FFF;
  --app-theme-color1: #FBF8F2;
  --app-theme-color2: #BFA054;
  --app-theme-color3: #9A2143;
  --app-theme-color4: #f6f6f6;
  --app-theme-color5: #9EA1AB;
  --app-theme-color6: #d3d6e0;
  --app-theme-bg-black: #000;
  --app-theme-bg-white: #fff;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #ddd;
  --fs-10: 10px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-28: 28px;
  --fs-30: 30px;
  --ff-ubuntu: "Ubuntu", sans-serif;
  --ff-nunito: "Nunito", sans-serif;
  --ff-inconsolata: "Inconsolata", monospace;
  --ff-playwrite: "Playwrite DE Grund", cursive;
  --ff-chakra-petch: "Chakra Petch", sans-serif;
}

body {
  font-family: var(--ff-ubuntu);
  background-color: var(--app-theme-bg);
}

.App-link {
  color: var(--app-theme-color3) !important;
}

.app-theme-bg {
  background-color: var(--app-theme-bg);
}

.app-theme-bg-black {
  background-color: var(--app-theme-bg-black);
}

.app-theme-bg-white {
  background-color: var(--app-theme-bg-white);
}

.app-theme-bg-light-mehendi {
  background-color: var(--app-theme-color1);
}

.app-theme-bg-burgundy {
  background-color: var(--app-theme-color3);
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.title-font-xl {
  font-size: var(--fs-18);
  color: var(--color-black);
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.title-font-l {
  font-size: var(--fs-18);
  color: var(--color-black);
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.title-font-m {
  font-size: var(--fs-16);
  color: var(--app-theme-color2);
  font-weight: 600;
  line-height: normal;
}

.desc-font-s {
  font-size: var(--fs-12);
  color: var(--color-black);
  font-weight: 400;
  line-height: normal;
}

.desc-font-xs {
  font-size: var(--fs-10);
  color: var(--color-black);
  font-weight: 600;
  line-height: normal;
}

.btn-icon {
  background-color: transparent;
  color: var(--app-theme-color3);
  border: 0;
  width: auto;
  padding: 0;
  margin: 0;
  outline: 0;
}

.bottom-navbar {
  @apply fixed bottom-0 left-0 w-full max-w-[400px] shadow px-2;
  background-color: var(--app-theme-color1);
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 30px 30px 0 0;
}

.bottom-tab {
  @apply p-2 flex flex-col justify-between items-center;
  font-size: var(--fs-12);
  color: var(--color-black);
  font-weight: 400;
  line-height: normal;
  width: 25%;
  gap: 4px;
}

.bottom-tab.active {
  color: var(--app-theme-color2);
  background-color: transparent;
  font-weight: 600;
}

.app-card {
  @apply rounded-2xl p-4 flex justify-between items-center;
  background-color: var(--app-theme-color1);
}

.guests-navbar {
  @apply max-w-[400px];
  border-bottom: 1px solid var(--color-grey);
}

.guests-navbar .bottom-tab {
  width: 50%;
  gap: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.guests-navbar .bottom-tab.active {
  border-bottom: 2px solid var(--app-theme-color2);
}

.main-banner-box {
  margin: -70px -20px 0px -20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.main-countdown-box {
  @apply flex items-center justify-around bg-white text-center capitalize relative;
  margin-top: -35px;
  border-radius: 30px;
  padding: 14px 18px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
  @apply w-full relative mb-3;
}

.form-input {
  @apply w-full relative bg-white block shadow-none rounded-xl h-[40px] py-[7px] px-[12px];
  border: 1px solid var(--app-theme-color5);
  color: var(--color-black);
  font-size: var(--fs-14);
  font-weight: 400;
  line-height: normal;
}

.theme-btn {
  @apply w-full relative block shadow-none rounded-xl h-[42px] py-[7px] px-[12px] uppercase;
  background-color: var(--app-theme-color3);
  color: var(--color-white);
  border: 0 none;
  outline: none;
  font-size: var(--fs-14);
  font-weight: 600;
}

.vendorModal {
  @apply w-[90%] bg-white p-[20px];
  height: auto;
  border: 1px solid var(--app-theme-color6);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 380px;
}

.ReactModal__Overlay {
  @apply flex items-center justify-center;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-headerbar {
  @apply relative w-full max-w-[400px] mx-auto shadow px-6 py-4 flex items-center justify-between;
  background-color: var(--app-theme-color1);
  border-radius: 0 0 30px 30px;
  z-index: 1;
}

.wrapper-container {
  min-height: calc(100vh - 112px);
}